<!DOCTYPE html>
<html lang="tr">
   <head>
      <!-- Temel -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Mobil uyum -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Site metas -->
      <title>Kontrol Paneli - AsiFin</title>
      <meta name="keywords" content="finans, kripto, yatırım, yapay zeka">
      <meta name="description" content="Yapay zeka destekli yatırım stratejileri sunan finansal platform.">
      <meta name="author" content="AsiFin">
      <!-- Stil dosyaları -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/responsive.css">
      <!-- favicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
     <style>
          footer {
            background-color: #0c0f38;
            padding: 10px 0;
            text-align: center;
            color: #fff;
        }
     </style>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- Header -->
      <header>
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html">
                                 <img src="images/matiricie.png" alt="Logo" style="max-width: 250px; max-height: 100px;" />
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active"><a class="nav-link" href="dashboard.html">Anasayfa</a></li>
                              <li class="nav-item"><a class="nav-link" href="konu.html">Konu Anlatımı</a></li>
                              <li class="nav-item"><a class="nav-link" href="sanal.html">Sanal Sözlü</a></li>
                              <li class="nav-item"><a class="nav-link" href="yks.html">YKS Hazırlık</a></li>
                              <li class="nav-item" ><a class="nav-link" href="iletisim.html">İletişim</a></li>
                              <li class="nav-item"><a class="nav-link" href="index.html">Çıkış</a></li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="text-bg">
                     <h1>EduFlex ile Kişiselleştirilmiş<br>  Eğitim Deneyimi</h1>
                     <span>Öğrenme Yolculuğunuza Şimdi Başlayın!</span>
                     <p>Eğitimde başarı artık sizin ellerinizde! EduFlex'in yapay zeka destekli öğrenme asistanıyla, kişisel öğrenme stilinize uygun stratejiler oluşturun ve hızla ilerleyin. Hedeflerinizi belirleyin, derslerinizi takip edin ve başarıya giden yolda adım atın!                    <center> <a href="hedefler.html ">Hemen Başlayalım!</a>
                    </center> </div>
               </div>
               <div class="col-md-7">
                  <div class="text-img">
                     <figure><img src="images/img.png" alt="Yatırım Platformu Görseli" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <footer>
        <p>© 2024 Matiricie Tüm Hakları Saklıdır.</p>
    </footer>
    <!-- jQuery (Bootstrap'ın JavaScript pluginlerine ihtiyaç duyuyor) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap'ın JavaScript dosyası -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

   </body>
</html>
